<h2>Editar Funcionario</h2>

<%= render "form.html", Map.put(assigns, :action, funcionario_path(@conn, :update, @funcionario)) %>

<span><%= link "Voltar", to: funcionario_path(@conn, :index) %></span>
