<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :nome, class: "control-label" %>
    <%= text_input f, :nome, class: "form-control" %>
    <%= error_tag f, :nome %>
  </div>

  <div class="form-group">
    <%= label f, :profissao, "Profissão", class: "control-label" %>
    <%= text_input f, :profissao, class: "form-control" %>
    <%= error_tag f, :profissao %>
  </div>

  <div class="form-group">
    <%= label f, :contato, class: "control-label" %>
    <%= text_input f, :contato, class: "form-control" %>
    <%= error_tag f, :contato %>
  </div>

  <div class="form-group">
    <%= submit "Cadastrar", class: "btn btn-primary" %>
  </div>
<% end %>
