<h2>Listing Funcionarios</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Profissão</th>
      <th>Contato</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for funcionario <- @funcionarios do %>
    <tr>
      <td><%= funcionario.nome %></td>
      <td><%= funcionario.profissao %></td>
      <td><%= funcionario.contato %></td>

      <td class="text-right">
        <span><%= link "Show", to: funcionario_path(@conn, :show, funcionario), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Editar", to: funcionario_path(@conn, :edit, funcionario), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Deletar", to: funcionario_path(@conn, :delete, funcionario), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Novo Funcionario", to: funcionario_path(@conn, :new) %></span>
