<h2>Funcionário</h2>

<ul>

  <li>
    <strong>Nome:</strong>
    <%= @funcionario.nome %>
  </li>

  <li>
    <strong>Profissão:</strong>
    <%= @funcionario.profissao %>
  </li>

  <li>
    <strong>Contato:</strong>
    <%= @funcionario.contato %>
  </li>

</ul>

<span><%= link "Editar", to: funcionario_path(@conn, :edit, @funcionario) %></span>
<span><%= link "Voltar", to: funcionario_path(@conn, :index) %></span>
