<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :id_jogador_amarelo, class: "control-label" %>
    <%= number_input f, :id_jogador_amarelo, class: "form-control" %>
    <%= error_tag f, :id_jogador_amarelo %>
  </div>

  <div class="form-group">
    <%= label f, :id_jogador_vermelho, class: "control-label" %>
    <%= number_input f, :id_jogador_vermelho, class: "form-control" %>
    <%= error_tag f, :id_jogador_vermelho %>
  </div>

  <div class="form-group">
    <%= label f, :relatorio, class: "control-label" %>
    <%= text_input f, :relatorio, class: "form-control" %>
    <%= error_tag f, :relatorio %>
  </div>

  <div class="form-group">
    <%= submit "Cadastrar", class: "btn btn-primary" %>
  </div>
<% end %>
