<h2>Sumulas</h2>

<table class="table">
  <thead>
    <tr>
      <th>Id jogador amarelo</th>
      <th>Id jogador vermelho</th>
      <th>Relatorio</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for sumula <- @sumulas do %>
    <tr>
      <td><%= sumula.id_jogador_amarelo %></td>
      <td><%= sumula.id_jogador_vermelho %></td>
      <td><%= sumula.relatorio %></td>

      <td class="text-right">
        <span><%= link "Show", to: sumula_path(@conn, :show, sumula), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Editar", to: sumula_path(@conn, :edit, sumula), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Deletar", to: sumula_path(@conn, :delete, sumula), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Nova Sumula", to: sumula_path(@conn, :new) %></span>
