<h2>Sumula</h2>

<ul>

  <li>
    <strong>Id jogador amarelo:</strong>
    <%= @sumula.id_jogador_amarelo %>
  </li>

  <li>
    <strong>Id jogador vermelho:</strong>
    <%= @sumula.id_jogador_vermelho %>
  </li>

  <li>
    <strong>Relatorio:</strong>
    <%= @sumula.relatorio %>
  </li>

</ul>

<span><%= link "Editar", to: sumula_path(@conn, :edit, @sumula) %></span>
<span><%= link "Voltar", to: sumula_path(@conn, :index) %></span>
