<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :nome, class: "control-label" %>
    <%= text_input f, :nome, class: "form-control" %>
    <%= error_tag f, :nome %>
  </div>

  <div class="form-group">
    <%= label f, :posicao, "Posição", class: "control-label" %>
    <%= text_input f, :posicao, class: "form-control" %>
    <%= error_tag f, :posicao %>
  </div>

  <div class="form-group">
    <%= label f, :numero_camisa, "Número da camisa", class: "control-label" %>
    <%= text_input f, :numero_camisa, class: "form-control" %>
    <%= error_tag f, :numero_camisa %>
  </div>

  <div class="form-group">
    <%= submit "Cadastrar", class: "btn btn-primary" %>
  </div>
<% end %>
