<h2>Jogadores</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Posição</th>
      <th>Número da camisa</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for jogador <- @jogadores do %>
    <tr>
      <td><%= jogador.nome %></td>
      <td><%= jogador.posicao %></td>
      <td><%= jogador.numero_camisa %></td>

      <td class="text-right">
        <span><%= link "Show", to: jogador_path(@conn, :show, jogador), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Editar", to: jogador_path(@conn, :edit, jogador), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Deletar", to: jogador_path(@conn, :delete, jogador), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Novo Jogador", to: jogador_path(@conn, :new) %></span>
