<h2>Jogador</h2>

<ul>

  <li>
    <strong>Nome:</strong>
    <%= @jogador.nome %>
  </li>

  <li>
    <strong>Posição:</strong>
    <%= @jogador.posicao %>
  </li>

  <li>
    <strong>Número da camisa:</strong>
    <%= @jogador.numero_camisa %>
  </li>

</ul>

<span><%= link "Editar", to: jogador_path(@conn, :edit, @jogador) %></span>
<span><%= link "Voltar", to: jogador_path(@conn, :index) %></span>
