<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :id_time, class: "control-label" %>
    <%= number_input f, :id_time, class: "form-control" %>
    <%= error_tag f, :id_time %>
  </div>

  <div class="form-group">
    <%= label f, :jogadores_principais, class: "control-label" %>
    <%= number_input f, :jogadores_principais, class: "form-control" %>
    <%= error_tag f, :jogadores_principais %>
  </div>

  <div class="form-group">
    <%= label f, :jogadores_reservas, class: "control-label" %>
    <%= number_input f, :jogadores_reservas, class: "form-control" %>
    <%= error_tag f, :jogadores_reservas %>
  </div>

  <div class="form-group">
    <%= label f, :tecnico, class: "control-label" %>
    <%= number_input f, :tecnico, class: "form-control" %>
    <%= error_tag f, :tecnico %>
  </div>

  <div class="form-group">
    <%= submit "Cadastrar", class: "btn btn-primary" %>
  </div>
<% end %>
