<h2>Escalações</h2>

<table class="table">
  <thead>
    <tr>
      <th>Id time</th>
      <th>Jogadores principais</th>
      <th>Jogadores reservas</th>
      <th>Técnico</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for escalacao <- @escalacoes do %>
    <tr>
      <td><%= escalacao.id_time %></td>
      <td><%= escalacao.jogadores_principais %></td>
      <td><%= escalacao.jogadores_reservas %></td>
      <td><%= escalacao.tecnico %></td>

      <td class="text-right">
        <span><%= link "Show", to: escalacao_path(@conn, :show, escalacao), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Editar", to: escalacao_path(@conn, :edit, escalacao), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Deletar", to: escalacao_path(@conn, :delete, escalacao), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Nova Escalação", to: escalacao_path(@conn, :new) %></span>
