<h2>Escalação</h2>

<ul>

  <li>
    <strong>Id time:</strong>
    <%= @escalacao.id_time %>
  </li>

  <li>
    <strong>Jogadores principais:</strong>
    <%= @escalacao.jogadores_principais %>
  </li>

  <li>
    <strong>Jogadores reservas:</strong>
    <%= @escalacao.jogadores_reservas %>
  </li>

  <li>
    <strong>Técnico:</strong>
    <%= @escalacao.tecnico %>
  </li>

</ul>

<span><%= link "Editar", to: escalacao_path(@conn, :edit, @escalacao) %></span>
<span><%= link "Voltar", to: escalacao_path(@conn, :index) %></span>
