<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :gols_visitante, class: "control-label" %>
    <%= number_input f, :gols_visitante, class: "form-control" %>
    <%= error_tag f, :gols_visitante %>
  </div>

  <div class="form-group">
    <%= label f, :gols_casa, class: "control-label" %>
    <%= number_input f, :gols_casa, class: "form-control" %>
    <%= error_tag f, :gols_casa %>
  </div>

  <div class="form-group">
    <%= label f, :id_vencedor, class: "control-label" %>
    <%= number_input f, :id_vencedor, class: "form-control" %>
    <%= error_tag f, :id_vencedor %>
  </div>

  <div class="form-group">
    <%= label f, :id_perdedor, class: "control-label" %>
    <%= number_input f, :id_perdedor, class: "form-control" %>
    <%= error_tag f, :id_perdedor %>
  </div>

  <div class="form-group">
    <%= submit "Cadastrar", class: "btn btn-primary" %>
  </div>
<% end %>
