<h2>Resultados</h2>

<table class="table">
  <thead>
    <tr>
      <th>Gols visitante</th>
      <th>Gols casa</th>
      <th>Id vencedor</th>
      <th>Id perdedor</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for resultado <- @resultados do %>
    <tr>
      <td><%= resultado.gols_visitante %></td>
      <td><%= resultado.gols_casa %></td>
      <td><%= resultado.id_vencedor %></td>
      <td><%= resultado.id_perdedor %></td>

      <td class="text-right">
        <span><%= link "Show", to: resultado_path(@conn, :show, resultado), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Editar", to: resultado_path(@conn, :edit, resultado), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Deletar", to: resultado_path(@conn, :delete, resultado), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Novo Resultado", to: resultado_path(@conn, :new) %></span>
