<h2>Resultado</h2>

<ul>

  <li>
    <strong>Gols visitante:</strong>
    <%= @resultado.gols_visitante %>
  </li>

  <li>
    <strong>Gols casa:</strong>
    <%= @resultado.gols_casa %>
  </li>

  <li>
    <strong>Id vencedor:</strong>
    <%= @resultado.id_vencedor %>
  </li>

  <li>
    <strong>Id perdedor:</strong>
    <%= @resultado.id_perdedor %>
  </li>

</ul>

<span><%= link "Editar", to: resultado_path(@conn, :edit, @resultado) %></span>
<span><%= link "Voltar", to: resultado_path(@conn, :index) %></span>
