<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :data, class: "control-label" %>
    <%= datetime_select f, :data, class: "form-control" %>
    <%= error_tag f, :data %>
  </div>

  <div class="form-group">
    <%= label f, :id_escalacao_casa, class: "control-label" %>
    <%= number_input f, :id_escalacao_casa, class: "form-control" %>
    <%= error_tag f, :id_escalacao_casa %>
  </div>

  <div class="form-group">
    <%= label f, :id_escalacao_visitante, class: "control-label" %>
    <%= number_input f, :id_escalacao_visitante, class: "form-control" %>
    <%= error_tag f, :id_escalacao_visitante %>
  </div>

  <div class="form-group">
    <%= label f, :id_resultado, class: "control-label" %>
    <%= number_input f, :id_resultado, class: "form-control" %>
    <%= error_tag f, :id_resultado %>
  </div>

  <div class="form-group">
    <%= label f, :comissao_tecnica, "Comissão técnica", class: "control-label" %>
    <%= number_input f, :comissao_tecnica, class: "form-control" %>
    <%= error_tag f, :comissao_tecnica %>
  </div>

  <div class="form-group">
    <%= label f, :sumula, class: "control-label" %>
    <%= number_input f, :sumula, class: "form-control" %>
    <%= error_tag f, :sumula %>
  </div>

  <div class="form-group">
    <%= label f, :local, class: "control-label" %>
    <%= text_input f, :local, class: "form-control" %>
    <%= error_tag f, :local %>
  </div>

  <div class="form-group">
    <%= submit "Cadastar", class: "btn btn-primary" %>
  </div>
<% end %>
