<h2>Jogos</h2>

<table class="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Id escalacao casa</th>
      <th>Id escalacao visitante</th>
      <th>Id resultado</th>
      <th>Comissão técnica</th>
      <th>Sumula</th>
      <th>Local</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for jogo <- @jogos do %>
    <tr>
      <td><%= jogo.data %></td>
      <td><%= jogo.id_escalacao_casa %></td>
      <td><%= jogo.id_escalacao_visitante %></td>
      <td><%= jogo.id_resultado %></td>
      <td><%= jogo.comissao_tecnica %></td>
      <td><%= jogo.sumula %></td>
      <td><%= jogo.local %></td>

      <td class="text-right">
        <span><%= link "Show", to: jogo_path(@conn, :show, jogo), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Editar", to: jogo_path(@conn, :edit, jogo), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Deletar", to: jogo_path(@conn, :delete, jogo), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Novo Jogo", to: jogo_path(@conn, :new) %></span>
