<h2>Jogo</h2>

<ul>

  <li>
    <strong>Data:</strong>
    <%= @jogo.data %>
  </li>

  <li>
    <strong>Id escalação casa:</strong>
    <%= @jogo.id_escalacao_casa %>
  </li>

  <li>
    <strong>Id escalação visitante:</strong>
    <%= @jogo.id_escalacao_visitante %>
  </li>

  <li>
    <strong>Id resultado:</strong>
    <%= @jogo.id_resultado %>
  </li>

  <li>
    <strong>Comissão técnica:</strong>
    <%= @jogo.comissao_tecnica %>
  </li>

  <li>
    <strong>Sumula:</strong>
    <%= @jogo.sumula %>
  </li>

  <li>
    <strong>Local:</strong>
    <%= @jogo.local %>
  </li>

</ul>

<span><%= link "Editar", to: jogo_path(@conn, :edit, @jogo) %></span>
<span><%= link "Voltar", to: jogo_path(@conn, :index) %></span>
