<h2>Competicoes</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Id time</th>
      <th>Id jogo</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for competicao <- @competicoes do %>
    <tr>
      <td><%= competicao.nome %></td>
      <td><%= competicao.id_time %></td>
      <td><%= competicao.id_jogo %></td>

      <td class="text-right">
        <span><%= link "Show", to: competicao_path(@conn, :show, competicao), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Editar", to: competicao_path(@conn, :edit, competicao), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Deletar", to: competicao_path(@conn, :delete, competicao), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Nova Competição", to: competicao_path(@conn, :new) %></span>
