<h2>Competição</h2>

<ul>

  <li>
    <strong>Nome:</strong>
    <%= @competicao.nome %>
  </li>

  <li>
    <strong>Id time:</strong>
    <%= @competicao.id_time %>
  </li>

  <li>
    <strong>Id jogo:</strong>
    <%= @competicao.id_jogo %>
  </li>

</ul>

<span><%= link "Editar", to: competicao_path(@conn, :edit, @competicao) %></span>
<span><%= link "Voltar", to: competicao_path(@conn, :index) %></span>
