<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Opps.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :nome, class: "control-label" %>
    <%= text_input f, :nome, class: "form-control" %>
    <%= error_tag f, :nome %>
  </div>

  <div class="form-group">
    <%= label f, :id_jogador, class: "control-label" %>
    <%= number_input f, :id_jogador, class: "form-control" %>
    <%= error_tag f, :id_jogador %>
  </div>

  <div class="form-group">
    <%= label f, :comissao_tecnica, class: "control-label" %>
    <%= number_input f, :comissao_tecnica, class: "form-control" %>
    <%= error_tag f, :comissao_tecnica %>
  </div>

  <div class="form-group">
    <%= submit "Cadastrar", class: "btn btn-primary" %>
  </div>
<% end %>
