<h2>Times</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Id jogador</th>
      <th>Comissao tecnica</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for time <- @times do %>
    <tr>
      <td><%= time.nome %></td>
      <td><%= time.id_jogador %></td>
      <td><%= time.comissao_tecnica %></td>

      <td class="text-right">
        <span><%= link "Show", to: time_path(@conn, :show, time), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Editar", to: time_path(@conn, :edit, time), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Deletar", to: time_path(@conn, :delete, time), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Novo Time", to: time_path(@conn, :new) %></span>
