<h2>Time</h2>

<ul>

  <li>
    <strong>Nome:</strong>
    <%= @time.nome %>
  </li>

  <li>
    <strong>Id jogador:</strong>
    <%= @time.id_jogador %>
  </li>

  <li>
    <strong>Comissao tecnica:</strong>
    <%= @time.comissao_tecnica %>
  </li>

</ul>

<span><%= link "Editar", to: time_path(@conn, :edit, @time) %></span>
<span><%= link "Voltar", to: time_path(@conn, :index) %></span>
